<a href="https://colab.research.google.com/github/I-Shen/DW_Week_11/blob/main/Untitled25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**A. Latihan 1**

1. Silahkan print(8 / 7) dan berikan comment # Ini adalah pembagian, lihat contoh di bawah ini

In [ ]:
# Ini adalah perkalian
print(4 * 8)

32

In [ ]:
# Jawaban ada disini
print(8/7)

1.1428571428571428

**Python sebagai kalkulatorl**

2. Lihat beberapa contoh di bawah ini

In [ ]:
# Penambahan dan pengurangan
print(5 + 5)
print(5 - 5)

# Perkalian dan pembagian
print(3 * 5)
print(10 / 2)

# Perpangkatan
print(4 ** 2)

# Pembagian Modulo
print(18 % 7)

10
0
15
5.0
16
4

Jika kamu memilik uang seratus ribu rupiah di bank dan bank memberikan bunga 10 persen setiap tahunnya, berapakah uang yang kamu dapat dalam 7 tahun? Gunakan Python menjawabnya

In [ ]:
# Jawab disini
print(((100000*(10/100))*7)+100000)

170000.0

3. Buat variabel simpanan dengan nilai 100000, kemudian print variabel simpanan

In [ ]:
# Jawab disini
simpanan = 100000
print(simpanan)

100000

4. Buat variable faktor = 1.10,
Gunakan variabel simpanan dan faktor untuk menentukan berapa hasil yang didapat dalam 10 tahun dan simpan dalam variabel hasil,
print hasil

In [ ]:
# Jawab disini
faktor = 1.10
hasil = simpanan * faktor * 10
print(hasil)

1100000.0000000002

5. Kalikan simpanan dan faktor dan simpan dalam variabel hasil_1,
Apakah tipe data dari hasil 1? Silahkan print tipe datanya,
Buatlah variabel desc = "Sains Data",
Jumlahkan desc dengan desc bagaimana hasilnya? Simpan pada variabel dobel_desc,
print dobel_desc

In [ ]:
# Jawab Disini
hasil_1 = simpanan * faktor
print(type(hasil_1))
desc = "Sains Data"
dobel_desc = desc + desc
print(dobel_desc)

<class 'float'>
Sains DataSains Data

**Konversi tipe data / casting**

Kamu bisa merubah tipe data seperti berikut

In [ ]:
a = 5
a_baru = str(a)
a_baru

'5'

In [ ]:
type(a_baru)

str

In [ ]:
b = '300'
b_baru = int(b)
b_baru

300

In [ ]:
type(b_baru)

int

6. Lihat error di bawah ini bagaiman kamu menyelesaikannya?

In [ ]:
# Simpanan dan hasil
simpanan_x = 100000
hasil_x = 100000 * 1.10 ** 7

# Fix the printout
#print("Uang saya awalnya" + simpanan_x + " dan saya sekarang punya " + hasil_x + ". Kueren cak")

# Fix nya
print("Uang saya awalnya " + str(simpanan_x) + " dan saya sekarang punya " + str(int(hasil_x)) + ". Kueren cak")

Uang saya awalnya 100000 dan saya sekarang punya 194871. Kueren cak

In [ ]:
# Selesaikan juga ini
pi_string = "3.1415926"

# Konversi pi_string menjadi float simpan dalam variabel pi_float dan kemudian print
# Jawab disini
pi_float = float(pi_string)
print(pi_float)

3.1415926

**2. Latihan 2**

1. Lihat Petunjuk di bawah ini

In [ ]:
# Luas ruangan dalam meter persegi
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

# Buatlah list dengan nama area berdasarkan variabel diatas dan print area
# Jawab disini
area = [hall, kit, liv, bed, bath]
print(area)

[11.25, 18.0, 20.0, 10.75, 9.5]

2. Buatlah list dengan nama variabel area_2 kemudian sisipkan "Hallway", "Kitchen", "Living Room", "Bed Room", dan "Bath Room" sesuai dengan ukuran masing masing,
contoh ['hallway', hall, ..., ..., ...]

In [ ]:
# Jawab disini
area_2 = ['hallway', hall, 'kitchen', kit, 'living room', liv, 'bed room', bed, 'bath room', bath]

3. A. [1, 3, 4, 2] B. [[1, 2, 3], [4, 5, 7]] C. [1 + 2, "a" * 5, 3]

---


Manakah yang bisa dikatakan membuat list yang benar?

A, B, C

B

B dan C

C

In [ ]:
# Jawab disini dengan comment
# A, B, C

4. Selesaikan list of list dari rumah di bawah ini, kemudian print rumah serta tipe data dari rumah

In [ ]:
# Jawab disini
rumah = [['hallway', hall],
        ['kitchen', kit],
        ['living room', liv],
        ['bed room', bed],
        ['bath room', bath]
        ]
print(rumah)
print(type(rumah))

[['hallway', 11.25], ['kitchen', 18.0], ['living room', 20.0], ['bed room', 10.75], ['bath room', 9.5]]
<class 'list'>

5. Selesaikan permasalahan di bawah ini

In [ ]:
area_3 = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Print elemen kedua dari area_3
print(area_3[1])

# Print elemen terakhir dari area_3
print(area_3[-1])

# Print area dari "living room"
print(area_3[4])

11.25
9.5
living room

6. Selesaikan permasalah di bawah ini

In [ ]:
area_3 = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

# Jumlahkan area kitchen dan bedroom kedalam variabel area_makan_favorit
area_makanan_favorit = area_3[3] + area_3[-3]

# Print the variable area_makan_favorit
print(area_makanan_favorit)

28.75